<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
  <div id="app">
    <h1>TO DO APP</h1>
    <span>To do: </span>
    <input type="text" v-model="todo">
    <button type="button" @click="add()">Add</button>
    <h3>To Do List</h3>
    <ol>
      <li v-for="item in todos" @dblclick="delet(todo)">
        {{item}}
      </li>

    </ol>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        todo: '',
        todos: []
      },
      methods: {
        add: function () {
          this.todos.push(this.todo);
        },
        delet: function (todo) {
          this.todos.splice(this.todos.indexOf(todo) - 1, 1)
        }
      }
    });
  </script>
</body>

</html>